<div class="aboutusContainer">
  <div class="sellerDetailsContainer" style="height:25px;">
     <div class="sellerName"><h1>About US</h1></div>
  </div>
  <div class="aboutusView">
    <p>www.cloudmantra.net is an initiatives taken by industry professionals who believes in “Customer First”. We have started with Online Grocery supermarket where our customers can order online and get delivery at door step. Our vision is to boost customer empowerment while purchasing products and Bring value behaviour in their life style.Our Mission is to make you available all daily need products on single click and get delivery at door step with unique shopping experience. Our Platform team ensures to implement latest technology. Our Sourcing team works with almost all brands in daily needs to bring each product at your door step. Our Delivery & Logistics team will make you comfortable to get your cart delivered as per delivery schedules. Our customers are the witness for CHANGE in the E-commerce Industry !!! Happy to welcome you!!!</p>
  </div>
</div>


