<div class="textContent">
<p><b>Our online grocery store lets you shop for groceries online quickly and easily.</b></p>

<p>Search-Select-Click- Done. That's how easy and quick to shop online through cloudmantra.net. Shopping at mycitykart.com not only saves your time & efforts but also saves your money. We have 3000 product’s wide range and with upto 15% discounts on MRP.</p>

<p>Our huge product range includes all the Grocery items, Households items, Personal Care, Staples, Snacks, Beverages, Condiments, Detergents & Soaps and Thousands other items which comes from your daily need.</p>

<p>Best of all, you can buy groceries online from the comfort of your home or office, so why not save a trip to the store while saving yourself some time and petrol money, too!!!! We do everything to keep our value proposition to customers, so our customers can spend less and enjoy more of the things you love. Shopping for groceries online is also a smart way to stock up on the things you use in bulk.</p>

<P>All online grocery items qualify for free delivery with dedicated delivery time slots. We require minimum order amount Rs. 500/-.</P>
</div>
