<div class="path">
    <a href="/../">Home</a><span>&nbsp/&nbsp</span><%=catname%>
</div>
<div class='filter_container'>
	<div class='filtersBrands'></div>
</div>
<div class="searhedProductListContainer">
    <div class="catAd"></div>
    <div class="list">
        <div id = 'waitingIcon'><img src = 'http://cdn2.bcdsn.net/mycitykart/css/images/bx_loader.gif' /></div>
        <div class="prodList">
            <ul class="searhedProductList sugestionList"></ul>
        </div>
    </div>
</div>

