<div class="sellerDetailsContainer">
	<div class="seller">
		<div class="sellerName"><h1>Contact Us</h1><br>
                <div class="address">
		<p>Business Collaboration Network<br>
                   Office No. 302, Akruti Avenues Su.No.173<br>
                   Thergaon Road Wakad, Pune - 411057, <br>Maharashtra, India<br>
                   Mobile: 9168362244<br>
                   Email: contact@mycitykart.com</p>
                 </div>
                </div>
                
       </div>
</div>



