<div class="DeliveryDetailContainer">
        <div class="payOnDelivery">
	    <img id="offer1" src="http://cdn2.bcdsn.net/mycitykart8080/pics/free-shipping-banner-icon-1.png" />
            <span>Cash on delivery</span>
        </div>
        <div class="sameDayDelivery">
            <img id="offer1" src="http://cdn2.bcdsn.net/mycitykart8080/pics/free-shipping-banner-icon-3.png" />
            <span>Same day delivery</span>
        </div>
        <div class="freeShipping">
            <img id="offer1" src="http://cdn2.bcdsn.net/mycitykart8080/pics/free-shipping-banner-icon-2.png" />
            <span>Free shipping</span>
        </div>
</div>
