<div class="container footerContainer">
	<div class="footerTopDiv">
		<div class="footerContent">
			<ul>
				<li><a href="#aboutus">About Us &nbsp&nbsp/&nbsp &nbsp</a></li>
				<li><a href="#contactus">Contact Us &nbsp&nbsp/&nbsp &nbsp</a></li>
				<li><a href="#policies">Policies</a></li>
			</ul>
		</div>
		<div class="socialNetworksContainer">
			<a href="https://www.facebook.com/mycitykart" target="_blank"><div class="socialIcons fb"></div></a>
			<a href="https://plus.google.com/u/0/b/113114198578265941467/113114198578265941467/about?hl=en" target="_blank"><div class="socialIcons gp"></div></a>
			<a href="https://twitter.com/mycitykart" target="_blank"><div class="socialIcons tw"></div></a>
		</div>
	</div>
	<div class="footerBottomDiv">
		<span class="copyright"> ©cloudmantra.net 2015 All rights reserved</span>
	</div>
</div>
