<div class="headerTopMenuWrapper">
        <!--<div class="cityContainer"></div>-->
	<div class="container">
		<ul class="headerTopMenu">
                        <li class="tagLine"><a>Pune<img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></a></li>
                        <!--<li class="myAccount"><a>My Account</a></li>-->
                        <li class="callus">Call Us : 9371007328 (7AM to 11PM)</li>
                        <li class="suggestProduct"><a>Suggest Product</a></li>
			<li class="trackOrder"><a href="#trackorder">Track Order</a></li>
		</ul>
	</div>
</div>
<div class="headerContent">
	<div class="container">
		<a href="/../"><div class="logo"><img src="http://cdn2.bcdsn.net/mycitykart/pics/Ecommerce_Header_Logo.png"></div></a>
		<div class="searchBlock">
			<input id="search_txt" type="text" placeholder="Search here...">
			<div class="searchBtn">SEARCH</div>
		</div>
                <div class="shoppingCartBtnContainer">
		  <div class="shoppingCartBtn">
		    <span class="count"></span>
		  </div>
		  <div class="cartDropdownContainer">
			 <span class="activePopup" style="display: inline;"></span>
			 <div class="popupCartHeader">
			    <span class="name">Item</span>
			    <span class="cartListQty">Qty</span>
			    <span class="unitPrice">Unit Price</span>
			    <span class="totalPrice">Total</span>
			    <span class="removeIcon"></span>
			    <span class="closePopup"><img class="removeItem" src="http://cdn2.bcdsn.net/mycitykart/pics/close-icon.png"></span>
			 </div>
			 <div class="cartList"></div>
			 <div class="popupcartBtns">
			   <div class="popupCartGrandTotal"></div>
			   <a href="#ShoppingCart"><div class="btn btn-success buy_button Button">Place Order</div></a>
			 </div>
		    </div>
		  </div>
	</div>
</div>
<div class="headerBottomMenuWrapper"></div>
