<li>
<a href="#ifc/grocery-and-staples" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/grocery-&-staples.png" />
  </div>
</a>
</li>
  
<li>
<a href="#ifc/organic-grocery" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/organic-grocery.png" />
  </div>
</a>
</li>

<li>
<a href="#ibc/baby-care" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/Baby-care.png" />
  </div>
</a>
</li>

<li>
<a href="#ifc/personal-care" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/personal-care.png" />
  </div>
</a>
</li>

<li>
<a href="#ifc/pet-supplies" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/pet-care.png" />
  </div>
</a>
</li>

<li>
<a href="#ifc/household" class="featuredCatContainer">
  <div class="featuredCatImgContainer">
    <img src="http://cdn2.bcdsn.net/mycitykart8080/pics/household.png" />
  </div>
</a>
</li>
