<div class="midContainer">
	<div class="assortmentContainer">
         <div class="homePageCatHeader">FEATURED CATEGORIES</div>
	   <ul class="homePageCatList first-and-second-carousel jcarousel-skin-ie7">
	   </ul>
         </div>
         <div class="assortmentContainer">
          <div class="CategoriesListHeader">OTHER CATEGORIES</div>
          <ul class="homePageCategoriesList">
                 <li><a href="#ifc/snacks">Snacks</a></li>
                 <li><a href="#ifc/condiments-and-sauces">Condiments & Sauces</a></li>
                 <li><a href="#ifc/beverages-and-syrups">Beverages & Syrupse</a></li>
                 <li><a href="#ifc/instant-foods">Instant Foods</a></li>
                 <li><a href="#ifc/sweet-and-chocolate">Sweet & Chocolate</a></li>
                 <li><a href="#ifc/pooja-needs">Pooja Needs</a></li>
                 <li><a href="#ifc/health-and-wellness">Health & Wellness</a></li>
            </ul>
          </div>
	<!--<div class="offersContainer2">
            <div class="homePageBestSellingHeader">CATEGORIES</div>
            <ul class="homePageBestSelling searhedProductList sugestionList mostPopularProduct"></ul>
            <ul class="homePageCategoriesList">
                 <li><a href="#ifc/snacks">Snacks</a></li>
                 <li><a href="#ifc/condiments-and-sauces">Condiments & Sauces</a></li>
                 <li><a href="#ifc/beverages-and-syrups">Beverages & Syrupse</a></li>
                 <li><a href="#ifc/instant-foods">Instant Foods</a></li>
                 <li><a href="#ifc/sweet-and-chocolate">Sweet & Chocolate</a></li>
                 <li><a href="#ifc/pooja-needs">Pooja Needs</a></li>
            </ul>
        </div>-->
</div>
