<div class="navigationBar">
	<ul class="shopByCatDiv">
        	<li class="shopByCat Grocery_Pet_Supplies" id="cat2">Grocery<img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></li>
               <li class="shopByCat organic-grocery fcat" id="cat3"><a href="#ifc/organic-grocery">Organic Grocery</a><img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></li>
                <li class="shopByCat personal-care fcat" id="cat4"><a href="#ifc/personal-care">Personal Care</a><img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></li>
                
               <li class="shopByCat Pet_Care" id="cat5">Pet Care<img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></li>
               <li class="shopByCat household fcat" id="cat6"><a href="#ifc/household">Household</a><img class="downArrow" src="http://cdn2.bcdsn.net/mycitykart/css/images/nav-lable-icon-01.png" /></li>
	</ul>
	<div class="path"></div>
        <div class="shopByCatContainer cat2" id="Grocery_Pet_Supplies">
                <div class="shopBy">Shop By:</div>
		<ul class="menuBlock">
			<li class="category color">Categories</li>
                        <li class="Brand">Top Brands</li>
		</ul>
                <div class="tabContainer">
			<div id="category" class="catMenu">
                                <ul class="menuTabBlock">
                                        <li class="menuTabHdr"><a href="#ifc/grocery-and-staples" class="active" id="grocery-and-staples">Grocery & Staples</a></li>
                                        <li><a href="#ibc/dry-fruits" class="active" id="dry-fruits" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Dry Fruits</a></li>
                                        <li><a href="#ibc/dal-and-pulses" class="active" id="dal-and-pulses" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Dals & Pulses</a></li>
                                        <li><a href="#ibc/oils-and-ghee" class="active" id="oils-and-ghee" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Oil & Ghee</a></li>
                                        <li><a href="#ibc/atta-flours-and-sooji" class="active" id="atta-flours-and-sooji" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Atta, Flours & Sooji</a></li>
                                        <li><a href="#ibc/grains-and-cereals" class="active" id="grains-and-cereals" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Grains & Cereals</a></li>
                                        <li><a href="#ibc/salt-sugar-and-jaggery" class="active" id="salt-sugar-and-jaggery" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Salt, Sugar & Jaggery</a></li>
                                        <li><a href="#ibc/rice-and-rice-products" class="active" id="rice-and-rice-products" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Rice & Rice Products</a></li>
                                        <li><a href="#ibc/spices-and-masalas" class="active" id="spices-and-masalas" familyCat="Grocery & Staples" familyCatId="grocery-and-staples">Spices & Masalas</a></li>
                                        <li class="menuTabHdr"><a href="#ifc/snacks" class="active" id="snacks">Snacks</a></li>
                                        <li><a href="#ibc/cookies" class="active" id="cookies" familyCat="Snacks" familyCatId="snacks">Cookies</a></li>
                                        <li><a href="#ibc/biscuit" class="active" id="biscuit" familyCat="Snacks" familyCatId="snacks">Biscuit</a></li>
                                        <li><a href="#ibc/breakfast-and-cereal" class="active" id="breakfast-and-cereal" familyCat="Snacks" familyCatId="snacks">Breakfast & Cereal</a></li>
                                        <li><a href="#ibc/crackers" class="active" id="crackers" familyCat="Snacks" familyCatId="snacks">Crackers</a></li>
                                </ul>
                                <ul class="menuTabBlock">
                                        <li><a href="#ibc/rusk-toast" class="active" id="rusk-toast" familyCat="Snacks" familyCatId="snacks">Rusk(Toast)</a></li>
                                <li><a href="#ibc/namkeen-mixture" class="active" id="namkeen-mixture" familyCat="Snacks" familyCatId="snacks">Namkeen/Mixture</a></li>
                                        <li><a href="#ibc/wafer-chips" class="active" id="wafer-chips" familyCat="Snacks" familyCatId="snacks">Wafer/Chips</a></li>
                                        <li><a href="#ibc/papad" class="active" id="papad" familyCat="Snacks" familyCatId="snacks">Papad</a></li>
                                        <li class="menuTabHdr"><a href="#ifc/condiments-and-sauces" class="active" id="condiments-and-sauces">Condiments & Sauces</a></li>
                                        <li><a href="#ibc/dips-and-dressing" class="active" id="dips-and-dressing" familyCat="Condiments & Sauces" familyCatId="condiments-and-sauces">Dips & Dressing</a></li>
                                        <li><a href="#ibc/jams-and-spreads" class="active" id="jams-and-spreads" familyCat="Condiments & Sauces" familyCatId="condiments-and-sauces">Jams & Spreads</a></li>
                                        <li><a href="#ibc/pastes-and-purees" class="active" id="pastes-and-purees" familyCat="Condiments & Sauces" familyCatId="condiments-and-sauces">Pastes & Purees</a></li>                                     
                                        <li><a href="#ibc/pickles-and-chutneys" class="active" id="pickles-and-chutneys" familyCat="Condiments & Sauces" familyCatId="condiments-and-sauces">Pickles & Chutneys</a></li>
                                        <li><a href="#ibc/sauces" class="active" id="sauces" familyCat="Condiments & Sauces" familyCatId="condiments-and-sauces">Sauces</a></li>                                     
                                        <li class="menuTabHdr"><a href="#ifc/beverages-and-syrups" class="active" id="beverages-and-syrups" >Beverages & Syrupse</a></li>
                                        <li><a href="#ibc/energy-and-health-drinks" class="active" id="energy-and-health-drinks" familyCat="Beverages & Syrupse" familyCatId="beverages-and-syrups">Energy & Health Drinks</a></li>
                                        <li><a href="#ibc/fruit-drinks-and-juices" class="active" id="fruit-drinks-and-juices" familyCat="Beverages & Syrupse" familyCatId="beverages-and-syrups">Fruit Drinks & Juices</a></li>
                                        <li><a href="#ibc/tea-and-coffee" class="active" id="tea-and-coffee" familyCat="Beverages & Syrupse" familyCatId="beverages-and-syrups">Tea & Coffee</a></li>
                                  </ul>
                                <ul class="menuTabBlock">
                                        <li><a href="#ibc/soft-drinks" class="active" id="soft-drinks" familyCat="Beverages & Syrupse" familyCatId="beverages-and-syrups">Soft Drinks</a></li>
                                        <li class="menuTabHdr"><a href="#ifc/instant-foods" class="active" id="instant-foods">Instant Foods</a></li>
                                        <li><a href="#ibc/instant-pasta" class="active" id="instant-pasta" familyCat="Instant Foods" familyCatId="instant-foods">Instant Pasta</a></li>
                                        <li><a href="#ibc/instant-noodles" class="active" id="instant-noodles" familyCat="Instant Foods" familyCatId="instant-foods">Instant Noodles</a></li>                                     
                                        <li><a href="#ibc/instant-mixes" class="active" id="instant-mixes" familyCat="Instant Foods" familyCatId="instant-foods">Instant Mixes</a></li>
                                        <li><a href="#ibc/instant-soup" class="active" id="instant-soup" familyCat="Instant Foods" familyCatId="instant-foods">Instant Soup</a></li>
                                        <li><a href="#ibc/instant-popcorn" class="active" id="instant-popcorn" familyCat="Instant Foods" familyCatId="instant-foods">Instant Popcorn</a></li>
                                        <li class="menuTabHdr"><a href="#ifc/sweet-and-chocolate" class="active" id="sweet-and-chocolate">Sweet & Chocolate</a></li>
                                        <li><a href="#ibc/chocolates" class="active" id="chocolates" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Chocolates</a></li>
                                        <li><a href="#ibc/candy" class="active" id="candy" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Candy</a></li>
                                        <li><a href="#ibc/indian-sweets" class="active" id="indian-sweets" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Indian Sweets</a></li>
                                        <li><a href="#ibc/cake" class="active" id="cake" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Cake</a></li>
                                        <li><a href="#ibc/ice-cream" class="active" id="ice-cream" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Ice Cream</a></li>
                                        <li><a href="#ibc/sweet-mix" class="active" id="sweet-mix" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Sweet Mix</a></li>
                                </ul>
                                <ul class="menuTabBlock">
                                        <li><a href="#ibc/pudding-halva" class="active" id="pudding-halva" familyCat="Sweet & Chocolate" familyCatId="sweet-and-chocolate">Pudding(Halva)</a></li>					
                                        <li class="menuTabHdr"><a href="#ifc/pooja-needs" class="active" id="pooja-needs">Pooja Needs</a></li>
                                        <li><a href="#ibc/agarbatti" class="active" id="agarbatti" familyCat="Pooja Needs" familyCatId="pooja-needs">Agarbatti</a></li>
                                        <li><a href="#ibc/cotton-batti" class="active" id="cotton-batti" familyCat="Pooja Needs" familyCatId="pooja-needs">Cotton Batt</a></li>
                                        <li><a href="#ibc/hawan-samagri" class="active" id="hawan-samagri" familyCat="Pooja Needs" familyCatId="pooja-needs">Hawan Samagri</a></li>
                                        <li><a href="#ibc/rangoli" class="active" id="rangoli" familyCat="Pooja Needs" familyCatId="pooja-needs">Rangoli</a></li>
                                        <li><a href="#ibc/gulal" class="active" id="gulal" familyCat="Pooja Needs" familyCatId="pooja-needs">Gulal</a></li>
                                        <li><a href="#ibc/dhoop" class="active" id="dhoop" familyCat="Pooja Needs" familyCatId="pooja-needs">Dhoop</a></li>
                                        <li><a href="#ibc/camphor" class="active" id="camphor" familyCat="Pooja Needs" familyCatId="pooja-needs">Camphor</a></li>
                                </ul>
                       </div>
                       <div id="Brand" class="catMenu brandTab">
				<ul class="menuTabBlock brandTabBlock">
                                  <li><a href="#bsp/BC-AASHIRVAAD" class="active" id="BC-AASHIRVAAD">Aashirvaad</a></li>
                                  <li><a href="#bsp/BC-AMUL" class="active" id="BC-AMUL">Amul</a></li>
                                  <li><a href="#bsp/BC-BINGO" class="active" id="BC-BINGO">Bingo</a></li>
                                  <li><a href="#bsp/BC-BRITANIA" class="active" id="BC-BRITANIA">Britania</a></li>
                                  <li><a href="#bsp/BC-CADBURY" class="active" id="BC-CADBURY">Cadbury</a></li>
                                  <li><a href="#bsp/BC-CHINGS" class="active" id="BC-CHINGS">Chings</a></li>
                                  <li><a href="#bsp/BC-CHITALE" class="active" id="BC-CHITALE"">Chitale</a></li> 
                                  <li><a href="#bsp/BC-DAAWAT" class="active" id="BC-DAAWAT">Daawat</a></li>
                                  <li><a href="#bsp/BC-DOVE" class="active" id="BC-DOVE"">Dove</a></li>
                                  <li><a href="#bsp/BC-EVEREST" class="active" id="BC-EVEREST">Everest</a></li>
                                  <li><a href="#bsp/BC-GITS" class="active" id="BC-GITS">Gits</a></li>
                                  <li><a href="#bsp/BC-GOWARDHAN" class="active" id="BC-GOWARDHAN">Gowardhan</a></li>
                                  <li><a href="#bsp/BC-HALDIRAM" class="active" id="BC-HALDIRAM">Haldiram</a></li>
                                  <li><a href="#bsp/BC-KISSAN" class="active" id="BC-KISSAN">Kissan</a></li>
                           </ul>
                                <ul class="menuTabBlock">
                                  <li><a href="#bsp/BC-KITCHENS-OF-INDIA" class="active" id="BC-KITCHENS-OF-INDIA">Kitchens Of India</a></li>
                                  <li><a href="#bsp/BC-KNORR" class="active" id="BC-KNORR">Knorr</a></li>
                                  <li><a href="#bsp/BC-MAGGI" class="active" id="BC-MAGGI">Maggi</a></li>
                                  <li><a href="#bsp/BC-MYCITYKART" class="active" id="BC-MYCITYKART"">Mycitykart</a></li>
                                  <li><a href="#bsp/BC-SUNFEAST" class="active" id="BC-SUNFEAST">Sunfeast</a></li>
                                  <li><a href="#bsp/BC-TATA" class="active" id="BC-TATA">Tata</a></li>                                  
                          </ul>
			</div>
		</div>	
	</div>
        <div class="shopByCatContainer cat3" id="organic-grocery1" style="height: 280px;">
                <div class="shopBy">Shop By:</div>
		<ul class="menuBlock">
			<li class="category3 color">Categories</li>
                        <li class="Brand3">Top Brands</li>
		</ul>
                <div class="tabContainer">
		   <div id="category3" class="catMenu">
                        <ul class="menuTabBlock">
                            <li><a href="#ibc/organic-atta-flours-and-sooji" class="active" id="organic-atta-flours-and-sooji" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Atta, Flours & Sooji</a></li>
                            <li><a href="#ibc/organic-beverages" class="active" id="organic-beverages" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Beverages</a></li>
                            <li><a href="#ibc/organic-breakfast-products" class="active" id="organic-breakfast-products" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Breakfast & Cereals</a></li>
                            <li><a href="#ibc/organic-dal-and-pulses" class="active" id="organic-dal-and-pulses" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Dals & Pulses</a></li>
                            <li><a href="#ibc/organic-dry-fruits" class="active" id="organic-dry-fruits" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Dry Fruits</a></li>
                            <li><a href="#ibc/organic-grains-and-cereals" class="active" id="organic-grains-and-cereals" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Grains & Cereals</a></li>
                            <li><a href="#ibc/organic-hair-care" class="active" id="organic-hair-care" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Hair Care</a></li>
                            <li><a href="#ibc/organic-herbal-supplements" class="active" id="organic-herbal-supplements" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Herbal Supplements</a></li>
                            <li><a href="#ibc/organic-jams-and-spreads" class="active" id="organic-jams-and-spreads" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Jams & Spreads</a></li>
                        </ul>
                       <ul class="menuTabBlock" style="height: 235px;">
                            <li><a href="#ibc/organic-oils-and-ghee" class="active" id="organic-oils-and-ghee" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Oil & Ghee</a></li>
                            <li><a href="#ibc/organic-pastes-and-purees" class="active" id="organic-pastes-and-purees" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Pastes & Purees</a></li>
                            <li><a href="#ibc/organic-rice-and-rice-products" class="active" id="organic-rice-and-rice-products" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Rice & Rice Products</a></li>
                            <li><a href="#ibc/organic-salt-sugar-and-jaggery" class="active" id="organic-salt-sugar-and-jaggery" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Salt, Sugar & Jaggery</a></li>
                            <li><a href="#ibc/organic-snacks" class="active" id="organic-snacks" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Snacks</a></li>
                            <li><a href="#ibc/organic-skin-care" class="active" id="organic-skin-care" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Skin Care</a></li>
                           <li><a href="#ibc/organic-spices-and-masalas" class="active" id="organic-spices-and-masalas" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Spices & Masalas</a></li>
                           <li><a href="#ibc/organic-sweets" class="active" id="organic-sweets" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Sweets</a></li>
                            <li><a href="#ibc/organic-tea-and-coffee" class="active" id="organic-tea-and-coffee" familyCat="Organic Grocery" familyCatId="organic-grocery">Organic Tea & Coffee</a></li>
                       </ul>
                   </div>
                   <div id="Brand3" class="catMenu brandTab">
				<ul class="menuTabBlock">
                                  <li><a href="#bsp/BC-ECO-FRESH" class="active" id="BC-ECO-FRESH" familyCat="Organic Grocery" familyCatId="organic-grocery">Eco Fresh</a></li>
				</ul>
			</div> 
               </div>
        </div>
       <div class="shopByCatContainer cat4" id="personal-care1" style="height: 280px;">
                <div class="shopBy">Shop By:</div>
		<ul class="menuBlock">
			<li class="category5 color">Categories</li>
                        <li class="Brand5">Top Brands</li>
		</ul>
                <div class="tabContainer">
		   <div id="category5" class="catMenu">
                        <ul class="menuTabBlock" style="height: 235px;">
                            <li><a href="#ibc/baby-care" class="active" id="baby-care" familyCat="Personal Care" familyCatId="personal-care">Baby Care</a></li>
                                        <li><a href="#ibc/deos-perfumes-talc" class="active" id="deos-perfumes-talc" familyCat="Personal Care" familyCatId="personal-care">Deos & Perfumes</a></li>
                                        <li><a href="#ibc/hair-care" class="active" id="hair-care" familyCat="Personal Care" familyCatId="personal-care">Hair Care</a></li>
                                        <li><a href="#ibc/oral-care" class="active" id="oral-care" familyCat="Personal Care" familyCatId="personal-care">Oral Care</a></li>
                                        <li><a href="#ibc/shaving-needs" class="active" id="shaving-needs" familyCat="Personal Care" familyCatId="personal-care">Shaving Needs</a></li>
                                        <li><a href="#ibc/skin-care" class="active" id="skin-care" familyCat="Personal Care" familyCatId="personal-care">Skin Care</a></li>
                                        <li><a href="#ibc/women-needs" class="active" id="women-needs" familyCat="Personal Care" familyCatId="personal-care">Women Needs</a></li>
                       </ul>
                       <ul class="menuTabBlock" style="height: 235px;">
                                        <li class="menuTabHdr"><a href="#ifc/health-and-wellness" class="active" id="health-and-wellness">Health & Wellness</a></li>
                                        <li><a href="#ibc/stomach-care" class="active" id="stomach-care" familyCat="Health & Wellness" familyCatId="health-and-wellness">Stomach Care</a></li>
                                        <li><a href="#ibc/pain-relief" class="active" id="pain-relief" familyCat="Health & Wellness" familyCatId="health-and-wellness">Pain Relief</a></li>                                     
                                        <li><a href="#ibc/antiseptic-cream" class="active" id="antiseptic-cream" familyCat="Health & Wellness" familyCatId="health-and-wellness">Antiseptic Cream</a></li>
                                        <li><a href="#ibc/cold-and-cough-remedy" class="active" id="cold-and-cough-remedy" familyCat="Health & Wellness" familyCatId="health-and-wellness">Cold & Cough Remedy</a></li>
                                        <li><a href="#ibc/antiseptic-liquid" class="active" id="antiseptic-liquid" familyCat="Health & Wellness" familyCatId="health-and-wellness">Antiseptic Liquid</a></li>
                                        <li><a href="#ibc/bandaid-and-dressing" class="active" id="bandaid-and-dressing" familyCat="Health & Wellness" familyCatId="health-and-wellness">Bandaid & Dressing</a></li>
                      </ul>
                   </div>
                   <div id="Brand5" class="catMenu brandTab">
				<ul class="menuTabBlock brandTabBlock" style="height: 235px;">
                                  <li><a href="#bsp/BC-AXE" class="active" id="BC-AXE">Axe</a></li>
                                  <li><a href="#bsp/BC-AYUR" class="active" id="BC-AYUR">Ayur</a></li>
                                  <li><a href="#bsp/BC-CLEAN-CLEAR" class="active" id="BC-CLEAN-CLEAR">Clean Clear</a></li>
                                  <li><a href="#bsp/BC-CLEAR" class="active" id="BC-CLEAR" familyCat="Organic Grocery">Clear</a></li>
                                  <li><a href="#bsp/BC-CLINIC-PLUS" class="active" id="BC-CLINIC-PLUS"">Clinic Plus</a></li>
                                  <li><a href="#bsp/BC-CLOSE-UP" class="active" id="BC-CLOSE-UP">Close Up</a></li>
                                  <li><a href="#bsp/BC-DAAWAT" class="active" id="BC-DAAWAT">Daawat</a></li>
                                  <li><a href="#bsp/BC-DOVE" class="active" id="BC-DOVE"">Dove</a></li>
                                  <li><a href="#bsp/BC-ENGAGE" class="active" id="BC-ENGAGE">Engage</a></li>
                           </ul>
                           <ul class="menuTabBlock brandTabBlock" style="height: 235px;"> 
                                  <li><a href="#bsp/BC-FIAMA-DI-WILLS" class="active" id="BC-FIAMA-DI-WILLS">Fiama Di Wills</a></li>
                                  <li><a href="#bsp/BC-GARNIER" class="active" id="BC-GARNIER">Garnier</a></li>
                                  <li><a href="#bsp/BC-GILLETTE" class="active" id="BC-GILLETTE">Gillette</a></li>
                                  <li><a href="#bsp/BC-JOHNSON" class="active" id="BC-JOHNSON">Johnson</a></li>
                                  <li><a href="#bsp/BC-LAKME" class="active" id="BC-LAKME">Lakme</a></li>
                                  <li><a href="#bsp/BC-LIFEBUOY" class="active" id="BC-LIFEBUOY">Lifebuoy</a></li>
                                  <li><a href="#bsp/BC-LOREAL" class="active" id="BC-LOREAL">Loreal</a></li>
                                  <li><a href="#bsp/BC-NIVEA" class="active" id="BC-NIVEA">Nivea</a></li>
                           </ul>
                           <ul class="menuTabBlock brandTabBlock" style="height: 235px;">
                                  <li><a href="#bsp/BC-PANTENE" class="active" id="BC-PANTENE">Pantene</a></li>
                                  <li><a href="#bsp/BC-PARK-AVENUE" class="active" id="BC-PARK-AVENUE">Park Avenue</a></li>
                                  <li><a href="#bsp/BC-PONDS" class="active" id="BC-PONDS">Ponds</a></li>
                                  <li><a href="#bsp/BC-SUNSILK" class="active" id="BC-SUNSILK">Sunsilk</a></li>   
                                  <li><a href="#bsp/BC-TRESEMME" class="active" id="BC-TRESEMME">Tresemme</a></li>
                                  <li><a href="#bsp/BC-VIVEL" class="active" id="BC-VIVEL">Vivel</a></li>
                           </ul>
			</div> 
               </div>
        </div>
        <div class="shopByCatContainer cat5" id="Pet_Care" style="height: 280px;">
                <div class="shopBy">Shop By:</div>
		<ul class="menuBlock">
			<li class="category6 color">Categories</li>
                        <li class="Brand6">Top Brands</li>
		</ul>
                <div class="tabContainer">
		   <div id="category6" class="catMenu">
                        <ul class="menuTabBlock">
                            <li class="menuTabHdr"><a href="#ifc/pet-supplies" class="active" id="pet-supplies">Pet Supplies</a></li>
                            <li><a href="#ibc/dog-food-and-treats" class="active" id="dog-food-and-treats" familyCat="Pet Supplies" familyCatId="pet-supplies">Dog Food & Treats</a></li>
                        </ul>
                   </div> 
                   <div id="Brand6" class="catMenu brandTab">
				<ul class="menuTabBlock">
                                  <li><a href="" class="active" id="" >Comming soon..</a></li>
				</ul>
			</div>
               </div>
        </div>
        <div class="shopByCatContainer cat6" id="household1" style="height: 280px;">
                <div class="shopBy">Shop By:</div>
		<ul class="menuBlock">
			<li class="category34 color">Categories</li>
                        <li class="Brand4">Top Brands</li>
		</ul>
                <div class="tabContainer">
		   <div id="category4" class="catMenu">
                        <ul class="menuTabBlock">
                            <li><a href="#ibc/air-freshener" class="active" id="air-freshener" familyCat="Household" familyCatId="household">Air Freshener</a></li>
                                        <li><a href="#ibc/cloth-clips" class="active" id="cloth-clips" familyCat="Household" familyCatId="household">Cloth Clips</a></li>
                                        <li><a href="#ibc/cfl-and-bulb" class="active" id="cfl-and-bulb" familyCat="Household" familyCatId="household">CFL & Bulb</a></li>
                                        <li><a href="#ibc/decorative-items" class="active" id="decorative-items" familyCat="Household" familyCatId="household">Decorative Items</a></li>
                                        <li><a href="#ibc/dishwash-bar" class="active" id="dishwash-bar" familyCat="Household" familyCatId="household">Dishwash Bar</a></li>
                                        <li><a href="#ibc/dust-pan" class="active" id="dust-pan" familyCat="Household" familyCatId="household">Dust Pan</a></li>
                                        <li><a href="#ibc/dustbin" class="active" id="dustbin" familyCat="Household" familyCatId="household">Dustbin</a></li>
                                        <li><a href="#ibc/hanger" class="active" id="hanger" familyCat="Household" familyCatId="household">Hangers</a></li>
                                        <li><a href="#ibc/household-cleaner" class="active" id="household-cleaner" familyCat="Household" familyCatId="household">Household Cleaner</a></li>
                              </ul>
                              <ul class="menuTabBlock" style="height: 235px;">
                                        <li><a href="#ibc/tissue-paper" class="active" id="tissue-paper" familyCat="Household" familyCatId="household">Tissue Papers</a></li>
                                        <li><a href="#ibc/toilet-cleaning" class="active" id="toilet-cleaning" familyCat="Household" familyCatId="household">Toilet Cleaning</a></li>
                                        <li><a href="#ibc/torches" class="active" id="torches" familyCat="Household" familyCatId="household">Torches</a></li>
                                        <li><a href="#ibc/laundry" class="active" id="laundry" familyCat="Household" familyCatId="household">Laundry</a></li>
                                        <li><a href="#ibc/shoe-care" class="active" id="shoe-care" familyCat="Household" familyCatId="household">Shoe Care</a></li>
                                        <li><a href="#ibc/other-households" class="active" id="other-households" familyCat="Household" familyCatId="household">Other households</a></li>
                                        <li><a href="#ibc/car-care" class="active" id="car-care" familyCat="Household" familyCatId="household">Car Care</a></li>
                                        <li><a href="#ibc/insect-repellent" class="active" id="insect-repellent" familyCat="Household" familyCatId="household">Insect Repellent</a></li>
                       </ul>
                   </div>
                   <div id="Brand4" class="catMenu brandTab">
				<ul class="menuTabBlock brandTabBlock">
                                  <li><a href="#bsp/BC-ARIEL" class="active" id="BC-ARIEL">Ariel</a></li>
                                  <li><a href="#bsp/BC-SURF-EXCEL" class="active" id="BC-SURF-EXCEL">Surf Excel</a></li>                               
                                </ul>
			</div> 
               </div>
        </div>
</div>

