<div class="myAccountDetailsContainer">
    <div class="suggestProductHeader myAccountHeader">
         <span>Sign In or Create a Account</span>
         <span class="closePopup"><img class="removeItem" src="http://cdn2.bcdsn.net/mycitykart/pics/close-icon.png"></span>
    </div> 
    <div class="suggestProductDetails">
       <div class="signInContainer">
         <div class="signInHeader">Sign In to your Account</div>
         <div class="signinHeader"><b>Sign In</b></div>
         <ul class="nigotiateForm">
           <li>
             <div class="label">Email<sup>*</sup> :</div>
             <div class="value"><input class="emailId mandatory" type="text" id="useremail">
	   </li>
     	   <li>
    	      <div class="label">Password<sup>*</sup> :</div>
	      <div class="value"><input class="userPassword mandatory" type="password" id="password">
	   </li>
         </ul>
         <div class="frgt"><a href="">Forgot your password ?</a></div>
         <div id="err3" class="formalign"></div>
         <div class="addToCartContainer">
	   <a class="btn btn-success signIn_btn" >Sign In</a>
         </div>
       </div>
       <div class="newUserContainer">
           <div class="newUserHeader">New User</div>
           <div class="signinHeader"><b>If you do not have a account,</b> please click "continue" to register</div>
           <div class="addToCartContainer">
	     <a class="btn btn-success newUser_btn" >Continue</a>
           </div>
       </div>
   </div>  
</div>
<div class="newUserDetailContainer">
</div>
