<div class="my_cart_header">
	<a id="continue_shopping_btn" href="/../index.html" class="btn btn-success button">CONTINUE SHOPPING</a>
	<h4><b>MY SHOPPING CART</b></h4>
       <div class="checkoutBtnContainer">
	<a id="checkOut_btn" href="#placeOrder" class="btn btn-success button">CHECKOUT</a>
       </div>
</div>
<table cellpadding="0" cellspacing="0" class="orderdetailsdata segoe my_cart_list" width="100%">
	<tbody>
		<tr>
			<td class="common" width="310">Item</td>
			<td class="common" width="75" align="center">Unit Price</td>
			<td class="common" width="75" align="center">Quantity</td>
			<td class="common" width="75" align="center">Price</td>
			<td class="common" width="48px" align="center">Remove</td>
		</tr>
	</tbody>
</table>
<div class="grand_total_div"></div>
<div class="note"><span class="red">*</span>Shipping charges will be included according to the shipping address.</div>
