<div class="suggestProductHeader myAccountHeader newUserFormHeader">
 <span>Fill out the fields below to create your mycitykart.com online account.</span>
 <span class="closePopup"><img class="removeItem" src="http://cdn2.bcdsn.net/mycitykart/pics/close-icon.png"></span><br>
</div> 
<div class="newUserFormText">If you already have a account, please<span id="backToSignIn">sign in.</span></div>
<div class="suggestProductDetails">
    <div class="newUserFormContainer">
      <ul class="nigotiateForm">
         <li>
           <div class="label">Name<sup>*</sup>:</div>
	   <div class="value"><input class="firstName mandatory" type="text" id="newFirstName" placeholder="First name">
	                      <input class="lastName mandatory" type="text" id="newLastName" placeholder="Last name"></div>
	</li>
	<li>
	   <div class="label">Mobile number<sup>*</sup>:</div>
	   <div class="value"><input class="newMbNumber mandatory" type="text" id="newMobNo"></div>
	</li>
	<li>
	   <div class="label">E-mail Id<sup>*</sup>:</div>
	   <div class="value"><input class="emailId mandatory" type="text" id="newEmailId"></div>
	</li>
        <li>
	   <div class="label">Pin code<sup>*</sup>:</div>
	   <div class="value"><input class="zipNumber mandatory" type="text" id="zipNo"></div>
	</li>
        <li>
    	   <div class="label">Create Password<sup>*</sup> :</div>
	   <div class="value"><input class="usercrPassword mandatory" type="password" id="crpassword">
	</li>
        <li>
    	   <div class="label">Confirm Password<sup>*</sup> :</div>
	   <div class="value"><input class="userconPassword mandatory" type="password" id="conpassword">
	</li>
      </ul>
      <div class="mandatoryText"><sup>*</sup>Mandatory.</div>
      <div id="err2" class="formalign"></div>
      <div class="addToCartContainer">
	 <a class="btn btn-success signIn_btn" >Submit</a>
      </div>
    </div>
</div> 


