<div class="orderSummaryContainer">
	<div class="checkoutContainerHeader">Order Summary</div>
	<table class="orderSummaryTable" cellspacing="0">
                <tbody>
                    <tr>
                        <td width="55%" align="left"><b>Items</b></td>
                        <td align="left">: <span class="items"></span></td>
                    </tr>
                    <tr>
                        <td width="55%" align="left"><b>Sub Total</b></td>
                        <td align="left">: Rs. <span class="subTotal"></span></td>
                    </tr> 
                    <tr>
                        <td width="55%" align="left"><b>Grand Total</b></td>
                        <td align="left">: Rs. <span class="grandTotal"></span></td>
                    </tr>
                </tbody>
	</table>
</div>
