<div id="paymentPageView" class="paymentPageView">
 <div class="content">
   <div class="steps">
		<div class="step"><span class="stepText">1. Shipping Details</span></div><div class="arrowNext"></div>
		<div class="step"><span class="stepText">2. Confirm Order</span></div><div class="arrow"></div>
		<div class="stepSelect"><span class="stepText">3. Payment</span></div>
	</div>
   <div class="containerdiv">
 <div class="paymentLabel">Payment Option :</div>
 <ul class="paymentOptions">
   <li class="paymentOption paymentOptionSelected">Cash on delivery</li>
   <li class="paymentOption">Debit Card<br><span style="color:green;">(Coming soon..)</span></li>
   <li class="paymentOption">Credit Card<br><span style="color:green;">(Coming soon..)</span</li>
   <li class="paymentOption">Net Banking<br><span style="color:green;">(Coming soon..)</span</li>
 </ul>
 <div class="placedOrderConfirmationContainer">
   <span class="orderheaderText">Thank you for your order</span>
   <span class="orderText">Your order<b>( <%=orderno%> )</b> has been confirmed and being processed. Order will be delivered as per delivery slot you selected and also you may receive confirmation call after order is packed and shipped.<br>
Currently we accept only Cash on Delivery </span>
   <div class="btnContainer"><a href="/../index.html"><button class="btn-success btn okBtn">OK</button></a></div>
   </div>
 </div>
</div>   
</div>

