<div class="sellerDetailsContainer" style="height:25px;">
     <div class="sellerName"><h1>Policies</h1></div>
</div>

<div class="policiesContainer">
<div class="policies">
   <h4><b>Payment Policy:</b></h4>
   <p>cloudmantra.net is a domain registerd by Trigya Technologies Pvt. Ltd company. We are in Grocery online shopping business. Currently we are accepting only cash on delivery. Customer has to pay cash as per invoice. We don’t accept any tips to delivery boy.
  </p>
</div>

<div class="policies">
   <h4><b>Shipping Policy:</b></h4>
   <p>cloudmantra.net is responsible to ship order at customer's address as per confirmed during order. Currently we are serving in specific areas in pune and same has been displayed on site. We are responsible for any damage during transit.
  </p>
</div>

<div class="policies">
   <h4><b>Return Policy:</b></h4>
   <p>We are bound to deliver products as per customer order placed during online shopping. If products are damaged or any issues with products then only we will liable to take returns.
  </p>
</div>

<div class="policies">
   <h4><b>Quality Policy:</b></h4>
   <p>We are bound to supply  best quality of products. As we are not in any direct manufacturing or packing of any products and We are in trading of products So respective companies will be liable for any kind of issues with products.
  </p>
</div>
</div>


