<div class="suggestProductDetailsContainer">
    <div class="suggestProductHeader">
         <span>Suggest Product</span>
         <span class="closePopup"><img class="removeItem" src="http://cdn2.bcdsn.net/mycitykart/pics/close-icon.png"></span>
    </div> 
    <div class="suggestProductDetails">
       <ul class="nigotiateForm">
        <li>
           <div class="label">Email<sup>*</sup> :</div>
           <div class="value"><input class="emailId mandatory" type="text" id="email">
	</li>
     	<li>
    	    <div class="label">Product Name<sup>*</sup> :</div>
	    <div class="value"><input class="productName mandatory" type="text" id="ProductName">
	</li>
	<li>
	   <div class="label">Brand :</div>
	   <div class="value "><input class="brandName" type="text" id="BrandName"></div>
	</li>
	<li>
	   <div class="label">Category :</div>
	   <div class="value"><input class="categoryName" type="text" id="categoryName"></div>
	</li>
        <li>
           <div class="label">Product Details :</div>
	   <div class="value"><textarea id="productDetails" name="Comments"></textarea></div>
	</li>
     </ul>
     <div id="err1" class="formalign"></div>
     <div class="suggest-botomContainer">
       <div class="addToCartContainer">
	   <a class="btn btn-success suggest_button" >Suggest</a>
       </div>
    </div>
   </div>  
</div>

