<div class="suggestProductDetailsContainer servecitiesContainer">
    <div class="suggestProductHeader">
         <span>Areas we are serving in Pune</span>
         <span class="closePopup"><img class="removeItem" src="http://cdn2.bcdsn.net/mycitykart/pics/close-icon.png"></span>
    </div> 
    <div class="suggestProductDetails">
       <ul class="nigotiateForm Servecity">
          <li class="areas">Wakad</li>
          <li class="areas">Kalewadi Road</li>
          <li class="areas">Park Street Road</li>
          <li class="areas">Pimple Saudagar</li>
          <li class="areas">Vishal Nagar</li>
          <li class="areas">Hinjawadi</li>
          <li class="areas">Punawale</li>
          <li class="areas">Tathwade</li>
          <li class="areas">Thergaon</li>
          <li class="areas">Pimple Gurav</li>
          <li class="areas">Rahatani</li>
     </ul>
   </div>  
</div>

