<div class="trackOrderDiv">
        <div class="trackOrderText">Track Order</div>
        <!--<span class="trackYourOrder"><sup>*</sup>Mandatory</span><br>-->
        <span class="trackYourOrder">Please enter your order number and Email id.</span><br>
	<div class="trackOrderContainerDiv">
		<span class="trackOrderlabel">Order No.<sup>*</sup></span>
		<input id="orderNo" type="text" placeholder="Enter your order number" class="mandatory">
	</div>
        <div class="trackOrderContainerDiv">
		<span class="trackOrderlabel">E-mail<sup>*</sup></span>
		<input id="emailId" type="text" placeholder="Enter your e-mail" class="mandatory">
	</div>
	<div class="myWishlistHeader">
		<button id="moveToCartBtn" class="btn btn-small btn-success">Track Order</button>
	</div>
        <div id="err" class="errr"></div>
	<div class="trackOrderDetails">
	</div>
</div>
