<div class="nigotiateOperationDialog loginDialog">
	<div class="loginHeader">
          <div class="nigotiateHeader loginHead"><span class="addNigotiateRecord">Login&nbsp;/&nbsp;Registration form</span></div><div class="loginCloseIcon"><img src="css/images/close-icon.png"></div>
        </div>
             <div class="form loginForm">
		     <ul class="nigotiateForm">
                        <li>
			   <div class="label">Login</div>
			</li>
			<li>
			   <div class="label"><sup>*</sup>Email Id :(registered email)</div>
			   <div class="value"><input class="mailId mandatory" type="text" id="emailId"></div>
			</li>
                        <li>
			   <div class="label"><sup>*</sup>Password :</div>
			   <div class="value"><input class="password mandatory" type="password" id="passwordId"></div>
			</li><br><br>
			<li>
			   <button id='addNigotiate'  style='margin-top:8px;' class='btn-success btn loginBtn'>Login</button>
                           <div class="label frgtpass"><a class="frgt-pass">Forgot your password?</a></div><br>
			</li>
                        <li>
			   <div class="frgtPass">
                              <div class="label frgttext">Your new password has been send to your Email Id.</div>
		              <div class="label">Email Id :(registered email)</div>
			      <div class="value"><input class="mailId" type="text" id="emailId"></div>
                              <button id='addNigotiate'  style='margin-top:8px;' class='btn-success btn sendBtn'>Send Email</button>
			   </div>
                        </li>
		     </ul>
                      <div id="err"></div>
            </div>
            <div class="form signupForm">
		     <ul class="nigotiateForm">
                        <li>
			   <div class="label">Sign Up&nbsp;<span>(new user)</span></div>
                           
			</li>
                        <li>
		    	    <div class="label"><sup>*</sup>Your Name :</div>
			    <div class="value"><input class="firstName mandatory fname" type="text" id="FirstName" placeholder="First name">
					       <input class="lastName mandatory" type="text" id="LastName" placeholder="Last name"></div>
			</li>
			<li>
			   <div class="label"><sup>*</sup>Email Id :</div>
			   <div class="value"><input class="mailId mandatory" type="text" id="EmailId"></div>
			</li>
                        <li>
			   <div class="label"><sup>*</sup>Password :</div>
			   <div class="value"><input class="pw mandatory" type="password" id="pwId"></div>
			</li>
                         <li>
			   <div class="label"><sup>*</sup>Confirm Password :</div>
			   <div class="value"><input class="cpass mandatory" type="password" id="cpasswordId"></div>
			</li>
			<li>
			   <button id='addNigotiate'  style='margin-top:8px;' class='btn-success btn signUpBtn'>Sign Up Now!</button>
			</li>
		     </ul>
                      <div id="err1"></div>
            </div>
</div>
