<div class="contactUsBannerContainer">
     <div class="aboutus">
         <div class="sellerDetailsContainer">
	      <div class="sellerName"><h1>Contact Us</h1>
		  <p><b>Trigya Technologies Pvt. Ltd</b><br>
           A 504, Bhakti Plaza,<br>
           Near Bremen Circle,<br>
           Aundh, Pune - 411057, <br>
           Maharashtra, India<br>
           Mobile: 937 100 7328<br>
           Email: info@cloudmantra.net</p>
	      </div>
         </div>
     </div>
<div>
<div class="contactUsFormContainer">
	<div class="nigotiateOperationDialog">
	     <div class="form">
		     <ul class="nigotiateForm">
		     	<li>
		    	    <div class="label"><sup>*</sup>Your Name :</div>
			    <div class="value"><input class="firstName mandatory" type="text" id="firstName" placeholder="First name">
					       <input class="lastName mandatory" type="text" id="lastName" placeholder="Last name"></div>
			</li>
			<li>
			   <div class="label"><sup>*</sup>Mobile No. :</div>
			   <div class="value"><input class="mbNumber mandatory" type="text" id="mobNumber"></div>
			</li>
			<li>
			   <div class="label"><sup>*</sup>Email Id :</div>
			   <div class="value"><input class="mailId mandatory" type="text" id="emailId"></div>
			</li>
			<li>
			   <div class="label"><sup>*</sup>Comments :</div>
			   <div class="value"><textarea id="comment" name="Comments" placeholder="Comments" class="mandatory"></textarea></div>
			</li>
		     </ul>
	    </div>
	    <div id="err"></div>
	    <div class="AddBtn">
		<button id='sendRequest'  style='margin-top:8px;' class='btn-success btn okBtn'>Send</button>
	    </div>
	</div>
</div>
