<% var now = new Date(), hour = now.getHours(), date = now.getDate(), year = now.getFullYear(), months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], month = months[ now.getMonth() ]; %>
<div class="slotContainer">
    <div class="slotHeader">Available Delivery Time Slots</div>
    <ul>
        <li>
            <div class="date"><%= month %> <%= date %>, <%= year %> ( Today )</div>
            <div class="timeSlots">
                <% if (hour <= 9) { %>
                <span class="timeSlot">01:00pm to 03:00pm</span>
                <span class="timeSlot">07:00pm to 09:00pm</span>
                <% } else if ((hour >= 9) && (hour <= 15)) { %>
                <span class="timeSlot disable">01:00pm to 03:00pm</span>
                <span class="timeSlot">07:00pm to 09:00pm</span>
                <% } else { %>
                <span class="timeSlot disable">01:00pm to 03:00pm</span>
                <span class="timeSlot disable">07:00pm to 09:00pm</span>
                <% } %>
            </div>
<% var tomorrow = new Date();
tomorrow.setDate(now.getDate()+1);
var tomorrowDate = tomorrow.getDate(), tomorrowYear = tomorrow.getFullYear(), tomorrowMonth = months[ tomorrow.getMonth() ]; %>
        <li>
            <div class="date"><%= tomorrowMonth %> <%= tomorrowDate %>, <%= tomorrowYear %> ( Tomorrow )</div>
            <div class="timeSlots">
                <span class="timeSlot">01:00pm to 03:00pm</span>
                <span class="timeSlot">07:00pm to 09:00pm</span>
            </div>
        </li>
    </ul>
</div>
<div class="condition"><span class="red">*</span>Minimum Order Rs. 500</div>
