<div class="footerTopDiv">
	<ul>
		<li><a href="#aboutus">About Us &nbsp;&nbsp;/&nbsp; &nbsp;</a></li>
		<li><a href="#contactus">Contact Us &nbsp;&nbsp;/&nbsp; &nbsp;</a></li>
		<li><a href="#policies">Policies &nbsp;&nbsp;/&nbsp; &nbsp;</a></li>
                <li><a href="#trackorder">Track order &nbsp;&nbsp;/&nbsp; &nbsp;</a></li>
                <li><a href="#suggestProduct">Suggest Product&nbsp;&nbsp;/&nbsp; &nbsp;</a></li>
                <li class="callUs">Call Us : 9168362244 (7AM to 11PM)</li>
	</ul>
</div>
<div class="footerBottomDiv">
	<span class="copyright"> ©cloudmantra.net 2015 All rights reserved</span>
</div>
