<div class="assortmentContainer">
  <ul class="homePageCatList">
    <li class="homePageCatHeader">FEATURED CATEGORIES</li>
      <li>
        <a href="#ifc/grocery-and-staples" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/grocery-&-staples.png" />
	  </div>
	</a>
      </li>
      <li>
        <a href="#ifc/organic-grocery" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/organic-grocery.png" />
	  </div>
	</a>
      </li>
      <li>
        <a href="#ibc/baby-care" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/Baby-care.png" />
	  </div>
	</a>
      </li>
      <li>
        <a href="#ifc/personal-care" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/personal-care.png" />
	  </div>
	</a>
      </li>
      <li>
        <a href="#ifc/pet-supplies" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/pet-care.png" />
	  </div>
	</a>
      </li>
      <li>
        <a href="#ifc/household" class="featuredCatContainer">
	  <div class="featuredCatImgContainer">
	    <img src="pics/household.png" />
	  </div>
	</a>
      </li>
  </ul>
</div>
