<div class="assortmentContainer">
   <ul class="offersContainer">
   <li>
      <a class="featuredCatContainer">
         <div class="featuredCatImgContainer" >
              <img id="offer1" src="http://cdn2.bcdsn.net/mycitykart8080/pics/discount-banner.png"/>
         </div>
      </a></li>
   <!--<li>
       <a href="#offerZone" class="featuredCatContainer">
          <div class="featuredCatImgContainer" >
               <img id="offer1" src="http://cdn2.bcdsn.net/mycitykart/pics/offer-zone-2.jpg"/>
          </div>
       </a></li>-->
   </ul>
</div>
