<div class="steps">
	<div class="step"><span class="stepText">1. Shipping Details</span></div>
	<div class="step"><span class="stepText">2. Confirm Order</span></div>
	<div class="stepSelect"><span class="stepText">3. Payment</span></div>
</div>
<div class="containerdiv">
  <div class="paymentLabel">Payment Option :</div>
  <ul class="paymentOptions">
    <li class="paymentOption paymentOptionSelected">Cash on delivery</li>
    <li class="paymentOption">Debit Card<br><span style="color:rgb(53, 206, 47);">(Coming soon..)</span></li>
    <li class="paymentOption">Credit Card<br><span style="color:rgb(53, 206, 47);">(Coming soon..)</span></li>
    <li class="paymentOption">Net Banking<br><span style="color:rgb(53, 206, 47);">(Coming soon..)</span></li>
  </ul>
  <div class="placedOrderConfirmationContainer">
    <span class="orderheaderText">Thank you for your order</span>
    <span class="orderText">Your order( #<%= id %> ) is been placed and is being processed. When the item(s) are shipped, you will receive a phone call before order delivery.<br><b>Rs <%= amt %></b> paid through Cash on delivery.</b></span>
    <div class="btnContainer"><div class="btn-success btn okBtn">OK</div></div>
    </div>
  </div>
</div>

