<div class="trackOrderForm">
    <div class="suggestProdDetails">
       <ul class="nigotiateForm">
        <li>
           <div class="label">Email<sup>*</sup> :</div>
           <div class="value"><input class="emailId mandatory" type="text" id="email">
	</li>
     	<li>
    	    <div class="label">Product Name<sup>*</sup> :</div>
	    <div class="value"><input class="productName mandatory" type="text" id="ProductName">
	</li>
	<li>
	   <div class="label">Brand :</div>
	   <div class="value "><input class="brandName" type="text" id="BrandName"></div>
	</li>
	<li>
	   <div class="label">Category :</div>
	   <div class="value"><input class="categoryName" type="text" id="categoryName"></div>
	</li>
        <li>
           <div class="label">Product Details :</div>
	   <div class="value"><textarea id="productDetails" name="Comments" style="width: 95.9%;"></textarea></div>
	</li>
     </ul>
     <div id="err" class="formalign"></div>
     <div class="myWishlistHeader">
       <button id="suggestProd" class="btn btn-success suggest_button">Suggest</button>
     </div>
   </div>  
</div>

