<div class="subtotal">
  Subtotal (<span class="totalItems"></span> items):<span class="gTotal"></span><br>
  <a href="#" class="btn btn-success continueButton">Continue Shopping</a>
  <a href="#checkout/ShippingDetails" class="btn btn-success checkoutButton">Checkout</a>
</div>
<div class="cartContainerdiv">
  <div class="hdrBackground">Shopping Cart</div>
  <ul class="cartList"></ul>
</div>
<div class="totalAmtContainer">
  <table>
    <tbody>
      <tr>
	<td class="rowLabel"><b>Total Amount :&nbsp;</b></td>
	<td class="rowValue totalAmt">Rs. 00</td>
      </tr>
      <tr>
	<td class="rowLabel"><b>Amount Payable :&nbsp;</b></td>
        <td class="rowValue amtPayable">Rs. 00</td>
      </tr>
    </tbody>
  </table>
</div>
