<div class="trackOrderForm">
  <ul class="nigotiateForm">
    <li>
      <div class="label">My order number is<sup>*</sup> :</div>
      <div class="value"><input class="orderNumber mandatory" type="text" id="orderNumber"></div>
    </li>
    <li>
      <div class="label">My e-mail is*<sup>*</sup> :</div>
      <div class="value"><input class="mailId mandatory" type="text" id="emailId"></div>
    </li>
  </ul>
  <div class="myWishlistHeader">
    <button id="moveToCartBtn" class="btn btn-small btn-success">Track Order</button>
  </div>
</div>
<div id="err" class="errr"></div>
<div class="trackOrderDetails"></div>
