<div class="salesLeads" style="border: 1px solid #c2c2c2;float: left;margin: 0 10px 250px;width: 80%;height: 70%;">
  	 <ul class="customerDetail" style="width: 92%; padding: 0 4%; float: left; margin-bottom: 6px;">
        <li style="list-style:none; float:left; width:416px;"><b>
	  Seller Approval By Business Collaboration Technologies Pvt. Ltd Pune </b></li>
         <li style="list-style:none; float:left; width:416px;"> Hi,</li>
	 <li style="list-style:none; float:left; width:416px;">Congratulations!! Your account has been created.</li>
	 <li style="list-style:none; float:left; width:416px;">	Your account details are:</li>
	 <li style="list-style:none; float:left; width:416px;"> <b>User :</b> <%= userName %></li> 
         <li style="list-style:none; float:left; width:416px;"> <b> Password: </b><%= password %> </li>
         <li style="list-style:none; float:left; width:416px;">You can update your profile.</li>
	 <li style="list-style:none; float:left; width:416px;">For login, go to  http://www.mycitykart.com</li>
	 <li style="list-style:none; float:left; width:416px;">Thank you,</li>
	 <li style="list-style:none; float:left; width:416px;"><b>Business Collaboration Technologies Pvt. Ltd Pune.</b></li>    
	</li>
                  
    </ul>
</div>
 

